/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.dark-layout .header-navbar {
    /*display: none;*/
}
html .content.app-content {
    padding: 20px;
}
.dark-layout .header-navbar-shadow {
    background: none;
}
.header-navbar.floating-nav {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: #2f2f2f !important;
}

.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
    margin-top: 62px;
    background: #404040;
}
.dark-layout body {
    background-color: #eaeaea;
}
.main-menu.menu-light .navigation {
    background: #404040;
}
.main-menu.menu-light .navigation > li ul .active {
    background: linear-gradient(
            118deg
            , #ff7900, rgb(240 160 103 / 70%));
    box-shadow: 0 0 10px 1px rgb(175 157 130 / 70%);
}
.main-menu.menu-light .navigation li a {color: #FFF;}
.main-menu .shadow-bottom {display: none !important;}
.customizer {display: none !important;}
.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #ff7900 !important;
}
